<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
<div id="gitalk-container"></div>
<script type="text/javascript">
  var gitalk = new Gitalk({

    // Gitalk parameters
    clientID: 'f1b12f9c7fde6fd718a8', //customize
    clientSecret: 'd2c58ef47bce3b8f81c59166d2d93a13a67ec087', //customize
    repo: 'loclog.github.io', //customize
    owner: 'loclog', //customize
    admin: ['loclog'], //customize
    id: md5(window.location.pathname), // leave this line as it is
    title: document.title,
    body: '文章链接：' + decodeURIComponent(location.origin + location.pathname)
  });
  gitalk.render('gitalk-container');
</script>